<div class="container">

    <div class="db-title">░ Food ░</div>
    
    <a href="/categories/food">&larr; Back</a>
    
    <h3 style="text-align: center;">Add your answers:</h3>
    
    <div class="add-qn">
      <div class="add-qn-body">
          
      </div>
    </div>
    
    </div>