<div class="container">

    <div class="db-title">░ Food ░</div>
    
    <a href="/categories/food">&larr; Back</a>
    
    <h3 style="text-align: center;">Add your answers:</h3>
    
    <div class="add-qn">
      <div class="add-qn-body">
        <form action="/add-reply/<%= data._id %>?_method=PUT" method="POST">

          <h2><%= data.question %></h2>
  
          <label for="reply"><b>Reply</b></label>
          <textarea name="reply" cols="20" rows="4"><%= data.reply %></textarea>
  
          <input type="submit" value="Submit" class="btn">
  
        </form>
      </div>
    </div>
    
    </div>