<div class="db-body">
    <div class="db-title">░  Dashboard  ░</div>
  </div>
  
  <div class="db-container">
  
      <div class="db-category">
        <h3>Categories:</h3>
        <ul>
          <li><a href="categories/food" class="button">Food</a></li>
          <li><a href="" class="button">Pets <span style="color:gray; font-size:.75rem">(Coming soon)</span></a></li>
          <li><a href="" class="button">Travel <span style="color:gray; font-size:.75rem">(Coming soon)</span></a></li>
        </ul>
      </div>
      
      <div class="db-welcome">
  
        <h3>Welcome to your Dashboard!</h3>
        <p>Please choose a category first.</p>
  
      </div>
  
  </div>  