<div class="db-title">░ Food ░</div>

<a href="/categories/food">&larr; Back</a>

<h3 style="text-align: center;">Question:</h3>

<div class="qn-page">
    <div class="question">
        <h3><%= data.question %></h3>
        <div class="">
            <h4>Answers: </h4>
            <%= data.reply %>
        </div>
    </div>
</div>