<div class="homePage">
    <h2>░ Please Register ░</h2>

    <form action="/register" method="POST">
    
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
    
        <label for="username"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password">
    
        <input type="submit" value="Register" class="btn">
    
    </form>
</div>