<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
<body>

    <div class="container">
        <header class="header">

            <a href="/dashboard" class="header-logo">The Q Forum</a>
        
            <div class="header-btn">
                <a href="/logout">Logout</a>
            </div>
            
        </header>

        <main class="main">
            <%- body %>
        </main>

        <%- include('./footer.ejs') %>
    </div>

</body>
</html>